body {
  background-color: lightgray;
}

.header {
  background-color: orange;
  color: white;
  border: 1px solid;
  text-align: center;
  margin-bottom: 2%;
}

.todo {
  width: 70%;
  margin-left: 10%;
  margin-bottom: 3%;
  background-color: white;
  border-radius: 15px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  padding-top: 1%;
}

.line {
  border-bottom: 1px solid lightgray;
}

.date {
  text-align: right;
  color: gray;
}

.footer {
  padding-top: 10%;
  text-align: center;
  color: darkgray;
}
